@charset "utf-8";
/* 스타일초기화 */
*,*::before, *::after{
  margin: 0;
  padding:0;
}
.header, .visual, .main, .slogan, .footer{
  background: #ff0;
  width: 940px;
  margin:0 auto;
}
.bg-footer{
  background:purple;
}
/* 헤더 */
.header{
  position: relative;
  background: pink;
}
/* 로고 */
.logo{
  background: blue;
  position: absolute;
  top:45px;
  left: 65px;
}
/* 비주얼 */
.visual{
  height: 120px;
}
/* 메인 콘텐츠 */
.main{
  background: lime;
  min-height: 450px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.group1{
  width: 250px;
  background: pink;


}
.group2{
  width: 380px;
  background: pink;

}
.group3{
  width: 190px;
  background: pink;

}