@charset "utf-8";
/* 스타일초기화 */
*,*::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
html{
  font-size: 10px;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color:inherit;
}
/* 숨김콘텐츠 */
.readable-hidden{
  background: teal;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  margin: -1px;
}
/* 기본스타일 */
body {
  color: #181818;
  font-size: 1.4rem;
}
/* 컨테이너 */
.container{
  background:linear-gradient(to bottom, #ccc, #eee 45%, #fff 70%, #fff 100%);
}
.header, .visual, .main, .slogan, .footer{

  width: 940px;
  margin:0 auto;
}
.bg-footer{
  background:linear-gradient(to bottom, #ccc, #eee 45%, #fff 70%, #fff 100%);
}
/* 헤더 */
.header{
  position: relative;
  background: #fff;
  padding :0 30px 45px;
  border-radius: 0 0 15px 15px;
}
/* 로고 */
.logo{
  position: absolute;
  top:45px;
  left: 65px;
}
/* 안내링크 */
.member{

  text-align: right;
  font-size:0px;
  padding: 2px 0;
  margin-right: -10px;
}
.member li, .member a{
  display: inline-block;
}
.member li{
  
  font-size: 1.4rem;
  text-transform: uppercase;
}
.bar::before{
  content: ":";
  margin: 0 1px;
}
.member a{
  
  padding: 5px 10px;

}
/* 메인 메뉴 */
.menu{
  background: #d37e2a linear-gradient(to bottom, #ffa724 0%,#ee7e0e 31%,#ee7e0e 70%,#ffa724 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  
  margin-top: 10px; 
}
  /* 비주얼 */
.visual{
  height: 120px;
}
/* 메인 콘텐츠 */
.main{
  background: lime;
  min-height: 450px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.group1{
  width: 250px;
  background: pink;
}
.group2{
  width: 380px;
  background: pink;
}
.group3{
  width: 190px;
  background: pink;
}